@import "./reset.css";
@import "./costume.css";
@import "./icons.css";
@import "./screens/small-screen.css";
@import "./screens/costume-small-screen.css";
@import "./screens/tablet-screen.css" screen and (min-width: 768px);
@import "./screens/costume-tablet-screen.css" screen and (min-width: 768px);
