/* header */
.nav {
  background: #fff;
  box-shadow: 0 0 32px rgb(0 0 0 / 15%);
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.nav-bar {
  justify-content: space-between;
}

.tnw-logo {
  background-color: #000;
  display: block;
  height: 48px;
  padding: 16px 20px;
  width: 106px;
  will-change: height;
}

.search-icon-link {
  height: 48px;
  opacity: 0.25;
  padding: 16px;
  width: 48px;
  will-change: opacity;
}

.nav-hamburger {
  border-left: 1px solid #eee;
  width: 48px;
  height: 48px;
  position: relative;
}

.banner-text {
  box-shadow: 0 16px 48px rgb(0 0 0 / 15%);
  background: #fd3;
  color: #000;
  font-size: 13px;
  line-height: 60px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 6px;
}

.main {
  margin-top: 96px;
}

.highlight-article {
  background-image: url(../../images/opal-article.jpg);
}

.top-story {
  margin: 4px;
}

.header-wrapper {
  background-color: #000;
  opacity: 0.5;
  color: hsla(0, 0%, 100%, 0.6);
  padding: 12px;
  height: 120px;
  justify-content: flex-end;
}

.cookie-article-div {
  background-image: url(../../images/cookie-killer.webp);
}

.mac-article {
  background-image: url(../../images/mac-app.webp);
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
}

.article-text {
  color: #fff;
  font-size: 20px;
  margin-bottom: 6px;
}

.header-ul {
  font-size: 12px;
}

.header-link {
  color: #f42;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.latest-new-section,
.latest-funding-section,
.section-popular {
  padding: 0 20px;
  margin-top: 200px;
}

.latest-news-div {
  margin-left: 12px;
}

.latest-news-cover-image {
  width: 75px;
  min-width: 75px;
  height: 75px;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hydrogen-drive-link {
  background-image: url(../../images/california-car-ev-hydrogen-future.webp);
}

.article-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.article-details {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
}

.jack-ma-link {
  background-image: url(../../images/jack-ma.jpg);
}

.sitting-meme-link {
  background-image: url(../../images/header-image-bernie-sitting-meme-analysis.webp);
}

.uber-link {
  background-image: url(../../images/uber.jpg);
}

.zoom-link {
  background-image: url(../../images/zoom-fundraising.webp);
}

.electric-motor-link {
  background-image: url(../../images/moon-hand.webp);
}

.exoplanet-link {
  background-image: url(../../images/cotton-candy.jpg);
}

.government-vehicle-link {
  background-image: url(../../images/biden-electric-cars-future-us-state-vehicles-car.jpg);
}

.signal-link {
  background-image: url(../../images/Signal-hed.jpg);
}

.latest-funding-li {
  font-size: 14px;
  margin-top: 12px;
}

.latest-funding-div {
  color: #f42;
}

.investment-story-first-div {
  margin-top: 16px;
}

.investment-img {
  margin: 12px;
  height: 60px;
  width: 60px;
}

.story-investment-name {
  background: #f42;
  color: #fff;
  padding: 12px 16px 12px 84px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 1.25;
}

.story-investment-details {
  padding: 12px 16px 12px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
}

.investment-amount {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  line-height: 1.25;
}

.investment-type {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 11px;
}

.story-investment-card {
  padding: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #555;
}

.story-byline {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.story-byline-link {
  color: #aaa;
}

.section-popular-sub {
  padding: 14px;
}

.most-popular-img {
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  height: 332px;
  bottom: 0;
  left: 0;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.img-one {
  background-image: url(../../images/game-stop.jpg);
}

.img-two {
  background-image: url(../../images/google-map.webp);
}

.img-three {
  background-image: url(../../images/mac-book.jpg);
}

.img-four {
  background-image: url(../../images/vintage-robot-368x276.jpg);
}

.img-five {
  background-image: url(../../images/Untitled-design-13-368x276.webp);
}

.img-six {
  background-image: url(../../images/open-source-code-gq-368x276.webp);
}

.img-seven {
  background-image: url(../../images/zoom-fundraising.webp);
}

.img-eight {
  background-image: url(../../images/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg);
}

.section-popular-header {
  font-size: 13px;
  pointer-events: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.most-popular-header {
  padding: 14px;
  background-color: rgba(60, 60, 60, 0.35);
}

.section-latest-header {
  height: 96px;
  margin: 2px;
  padding-right: 100px;
}

.section-latest-section {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.section-latest-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.5px;
}

.most-popular-latest-img {
  opacity: 1;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-headline {
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.section-headline::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.deals-header-more {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* footer */

.footer {
  text-align: center;
  position: relative;
  will-change: transform;
  z-index: 4;
  outline: none;
}

.footer-first-div {
  background: #131313;
  padding: 2.5em 0;
}

.footer-links-menu {
  text-transform: uppercase;
  color: #aaa;
  font-size: 13px;
  line-height: 24px;
}

.legal {
  background: #000;
  color: #aaa;
  font-size: 13px;
  padding: 2.5em 0;
}

.legal-wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-icon-wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  height: 16px;
  width: 16px;
  display: inline-table;
}

.footer-ul-li {
  margin-bottom: 1.5em;
  background: #333;
  border-radius: 50%;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
}

.tnw-legal-logo {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}
